<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>ARB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='arb.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
    </head>
    <body>
        <a class="button" style="font-size:0.8rem;" href="/">Zurück zur Übersicht</a>
        <a class="button" style="font-size:0.8rem;" href="{{ url_for('users') }}">Benutzerverwaltung</a>
        <h1>Räume / Koffer </h1>
        <ul>
            {% for room in rooms %}
                <li>
                    <form method="POST">
                        <input type="hidden" name="room_id" value="{{room.ID}}">
                        <input type="hidden" name="action" value="edit">
                        <label for="room_id">Name:</label>
                        <br>
                        <input type="text" name="title" value="{{ room.title }}">
                        <br>
                        Farbe:
                            {% for i in range(NUM_COLORS) %}
                                <input
                                    type="radio"
                                    name="color_index"
                                    value="{{i}}"
                                    class="card_bg{{i}}"
                                    {% if i == room.color_index|int %}
                                        checked="checked"
                                    {% endif %}
                                />
                            {% endfor %}
                        <br>
                        <label for="room_id">Ort:</label>
                        <br>
                        <input type="text" name="location" value="{{ room.location }}">
                        <br>
                        <label for="room_id">Beschreibung:</label>
                        <br>
                        <textarea rows="4" name="description">{{ room.description }}</textarea>
                        <a href="{{ url_for('qr', room_id=room.ID) }}" target="_blank">
                            <img style="display: inline-block; width: 3rem;"
                            src="{{ url_for('qr', room_id=room.ID) }}"/>
                        </a>
                        <br>
                        <label for="blocked">beispiel: mo,2,9,10,11;mi,1;fr,2</label>
                        <br>
                        <input type="text" name="blocked" value="{{ room.blocked }}">
                        <br>
                        <input type="submit" value="save">
                    </form>
                        <form method="POST"
                            onsubmit="return window.confirm(
                            'Wirklich »{{room.title}}« löschen?'
                            )">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="room_id" value="{{room.ID}}">
                        <input type="submit" value="löschen">
                    </form>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <form method="POST">
            <label for="room_id">Name für den neuen Raum:</label>
            <br>
            <input type="text" name="title" required>
            <input type="hidden" name="action" value="create">
            <input type="submit" value="Erstellen">
        </form>
    </body>
</html>
