<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>ARB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='arb.css') }}" type="text/css">
    </head>
    <body>
        <h1>Sie sind nicht angemeldet.</h1>
        <form action="" method="post">
            <p><input type=text name=username placeholder="username"></p>
            <p><input type=password name=password placeholder="password"></p>
            <p><input type=submit value=Login></p>
        </form>
    </body>
</html>
