<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>ARB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='arb.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    </head>
    <body>
        {% if admin %}
            <h2 style="background: red;">ADMIN</h2>
        {% endif %}
        {% raw %}
            <a class="button" style="font-size:0.8rem;" href="/">Zurück zur Übersicht</a>
            <div id="timetable">
            <h1 v-bind:class="'card_bg' + room.room_data.color_index">{{room.room_data.title}}</h1>
            <h5 v-bind:class="'card_bg' + room.room_data.color_index">{{room.room_data.location}}</h5>
                <span style="font-size: 1.4rem; font-weight: bold;">
                    KW {{ room.calendar[0].week }}
                    ({{ room.calendar[0].year }}) 
                    bis
                    KW {{ room.calendar[room.calendar.length -1].week }}
                    ({{ room.calendar[room.calendar.length -1 ].year }})
                </span>
                <br>
                <button @click="week_offset -= 1 ; get_room();">←</button>
                <button @click="week_offset=0;get_room();">⌂</button>
                <button @click="week_offset += 1; get_room();">→</button>
                <hr>
                <div class="timetable">
                    <div class="day">
                        <div v-for="week in room.calendar">
                            <div v-if="week.booked.person == user"
                                class="period me"
                                @click="cancel_room(week.booked.ID)">
                                KW {{ week.week }}
                                ({{ week.year }})
                                <br>
                                {{ week.first_date_of_week|datum }} - {{ week.last_date_of_week|datum }}
                                <br>
                                Gebucht!
                            </div>
                            <div v-else-if="week.booked.person && admin"
                                class="period booked"
                                @click="cancel_room(week.booked.ID)">
                                KW {{ week.week }}
                                ({{ week.year }})
                                <br>
                                {{ week.first_date_of_week|datum }} - {{ week.last_date_of_week|datum }}
                                <br>
                                Gebucht von: {{ week.booked.person }}
                            </div>
                            <div v-else-if="week.booked.person"
                                class="period booked">
                                KW {{ week.week }}
                                ({{ week.year }})
                                <br>
                                {{ week.first_date_of_week|datum }} - {{ week.last_date_of_week|datum }}
                                <br>
                                Gebucht von: {{ week.booked.person }}
                            </div>
                            <div v-else
                                class="period free"
                                @click="book_room(week.year, week.week)">
                                KW {{ week.week }}
                                ({{ week.year }})
                                <br>
                                {{ week.first_date_of_week|datum }} - {{ week.last_date_of_week|datum }}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        {% endraw %}
        <script>
            var app = new Vue({
                el: '#timetable',
                data: {
                    room: [],
                    admin: {{admin|tojson}},
                    ID: {{ID}}, 
                    user: "{{user}}",
                    week_offset: 0,
                    socket: io(),
                },
                methods: {
                    get_room: function () {
                        this.socket.emit(
                            'get_data',
                            room_id = this.ID,
                            week_offset = this.week_offset
                        );
                    },
                    book_room: function (year, week){
                        this.socket.emit(
                            'update',
                            room_id = this.ID,
                            year = year,
                            week = week,
                            week_offset = this.week_offset
                        )
                    },
                    cancel_room: function(ID){
                        this.socket.emit(
                            'cancel',
                            booking_id = ID,
                            room_id = this.ID,
                            week_offset = this.week_offset
                        )
                    },
                },
                mounted: function() { 
                    this.socket.on('connect', (data) => {
                        console.log('connected, fetching room data');
                        this.get_room();
                    });
                    this.socket.on('room_data', (data) => {
                        if (this.ID == data.room_id) {
                            this.room = data;
                        }
                    });
                },
                filters: {
                    username: function (x) {
                        let temp = x.split('@')[0];
                        temp = temp.split('.')
                        for (let i in temp) {
                            temp[i] = temp[i][0].toUpperCase() + temp[i].slice(1);
                        }
                        temp = temp.join('.')
                        return temp
                    },
                    datum: function (x) {
                        let temp = x.split('-');
                        temp.reverse();
                        temp = temp.join('.');
                        return temp
                    },
                },
            })
        </script>
    </body>
</html>
