<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>ARB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='arb.css') }}" type="text/css">
        <!-- development version, includes helpful console warnings -->
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <!-- production version, optimized for size and speed -->
        <!-- script src="https://cdn.jsdelivr.net/npm/vue"></script -->
    </head>
    <body>
        {% if admin %}
            <a class="button" style="font-size: 0.9rem"
                  href="{{url_for('admin')}}">Räume bearbeiten</a>
        {% endif %}
        {% raw %}
            <div id="app" class="cards">
                <a v-for="room in rooms" v-bind:href="'/room/'+room.ID">
                    <div class="card">
                        <h3>{{ room.title }}</h3>
                        <p>{{ room.location }}</p>
                    </div>
                </a>
            </div>
        {% endraw %}
        <p style="clear: left;">
            <a style="font-size: 0.9rem; margin-left: 0.5rem;" class="button" href="{{url_for('logout')}}">LOGOUT</a>
        </p>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    rooms: [],
                },
                methods: {
                    get_rooms: function () {
                        let vueapp = this; // fuck js!
                        fetch('/rest/room', {credentials: 'same-origin'})
                            .then(
                                function(res) {
                                    return res.json()
                                }
                            )
                            .then(
                                function(data) {
                                    vueapp.rooms = data;
                                }
                            )
                    },
                },
                mounted: function() {this.get_rooms()} 
            })
        </script>
    </body>
</html>


