<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>ARB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='arb.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
<style>
form {
    display: grid;
}
</style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <a class="button" style="font-size:0.8rem;" href="/">Zurück zur Übersicht</a>
        <a class="button" style="font-size:0.8rem;" href="{{ url_for('admin') }}">Raumverwaltung</a>
        <h1>ADMINS</h1>
        <ul>
            {% for user in admins %}
                <li>
                    <strong>{{user.full_name}} ({{user.username}})</strong>
                    <a style="font-size: 1rem;" class="button" href="{{url_for('user', username=user.username)}}">
                        ändern
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <h1>USERS</h1>
        <ul>
            {% for user in users %}
                <li>
                    <strong>{{user.full_name}} ({{user.username}})</strong>
                    <a style="font-size: 1rem;" class="button" href="{{url_for('user', username=user.username)}}">
                        ändern
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <form method=POST>
            <h3>Neue User anlgen:</h3>
            <label for="username">username:</label>
            <input type="text" name="username" required>
            <label for=full_name>Vollständiger Name</label>
            <input type=text id=full_name name=full_name>
            <label for=password>Neues Passwort:</label>
            <input type=password id=password name=password required>
            <label for=info>Info:</label>
            <textarea id="info" name="info" rows="10"></textarea>
            <label for=is_admin>admin?</label>
            <input type=checkbox id=is_admin name="is_admin">
            <button type=submit style="font-size: 1rem;">Erstellen</button>
        </form>
    </body>
</html>
